
.specstory/

.env

.cursorindexi.md

*.ipynb

*.pyc

*.md

crime-service/app/domain/model/google_schema.py

crime-service/run_update_police_test.py

crime-service/.env

crime-service/.env.local

# SpecStory explanation file
.specstory/.what-is-this.md

.html/

*.html

*.json

*.csv

*.png

*.jpg

*.jpeg

